.title-rate {
  margin-top: 10px;
  font-family: fantasy;
  color: crimson;
}
.rate {
  text-align: center;
  border: solid aquamarine;
  width: 350px;
  background-color: rgb(12, 197, 197);
  border-radius: 15px;
  margin-top: -33px;
  float: right;
  cursor: pointer;
}
.movie-list img {
  width: 270px;
  height: 270px;
  padding-left: 65px;
}

.card-movie {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  width: 400px;
  width: 350px;
  background-color: gainsboro;
}
.card-movie h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkcyan;
  border-top: solid silver;
  padding-top: 10px;
  font-size: 1em;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  margin-top: 80px;
  justify-content: space-between;
}
.modal {
  margin: 50px;
  text-align: center;
  margin-top: 50px;
  width: 400px;
}
.search-bar {
  border: 0.5 px solid groove;
  font-family: monospace;
  font-size: 1em;
  border-radius: 10px;
  width: 350px;
  height: 38px;
  margin-top: 10px;
  background-color: rgb(12, 197, 197);
}
.input-form {
  float: left;
  margin-right: 265px;
}
.add-movie input {
  border-radius: 10px;
  background-color: darkgrey;
  margin-bottom: 10px;
}
.add-btn button {
  margin: 55px 0 0 520px;
}
